<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>刘丹的简历</title>
    <meta name="description" content="我是一个充满活力、对前端由衷热爱、善于发现问题的前端工程师。我目前正在寻找前端工程师岗位，希望借此机会为贵司献上我的一点绵薄之力，快招我到碗里来吧！">
    <meta name="keywords" content="美工,工作,简历">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <link rel="stylesheet" href="../assets/css/fontello.min.css">
    <link rel="stylesheet" href="../assets/css/print.min.css">
    <link rel="stylesheet" href="../assets/css/zoom.css">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Header -->
    <style>
        .column .cell .skbg, .column .cell .skco {
            display: inline-block;
            width: 245px;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            color: #ffffff;
            vertical-align: top;
            margin-top: 4px;
            background-color: #dddddd;
            border-radius: 20px;
            #display: inline;
            #zoom: 1
        }

        .column .lh .skco {
            width: 112px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

        .column .sl .skco {
            width: 173px !important;
        }

        .column .cell .skco {
            width: 235px;
            font-style: normal;
            margin-top: 0;
            padding-left: 10px;
            background-color: #00A1D6;
            z-index: 3;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="title">
            <img src="../images/picture.png" data-action="zoom">
            <h1>刘丹的简历</h1>
            <h2>咯咯咯咯</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-phone-1"></i>电话: 18381658849</dd>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="245672290@qq.com" target="_blank">245672290@qq.com</a>
                </dd>
                <!--<dd><i class="icon-wechat"></i>微信: 才不会告诉你呢</dd>-->
                <!--<dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin=245672290&site=qq&menu=yes"-->
                <!--target="_blank">245***290</a></dd>-->
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>产品助理及UI设计师</dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <ul>
                    <dd>Photoshop</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>Illustrator</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">熟练</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>Corel Draw</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                    <dd>Axure</dd>
                    <dd>
                        <table style="" cellspacing="0" cellpadding="0" border="0" class="column">
                            <tbody>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"><span class="skbg"><span
                                                                class="skco">良好</span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>
                </ul>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Other. 其他</dt>
                <dd>大学英语四级</dd>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><strong>个人信息:</strong> <span>刘丹 / 女</span></dd>
                <dd><strong>毕业院校:</strong> <span>西南财经大学天府学院</span></dd>
                <dd><strong>工作年限:</strong> <span>一年半</span></dd>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                <h3><img src="../images/hongli.png" data-action="zoom"><span>上海宏理信息科技有限公司（2016.8 - 至今）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>官网微信购票</h4>
                        <p>项目描述： 票务系统-微信购票，绑定微信公众号，可通过微信公众号进行购票，登录、注册、修改、访问个人中心、购票、退票等操作。</p>
                        <p>
                            责任描述：1、根据需求文档进行界面设计工作，界面包括票列表界面，订单填写界面，微信支付，个人中心界面，订单详情界面等。如订单填写，在价格日历里显示票的价格，选中之后，根据票的要求，是否填写出行人，是否需要证件在界面展示。
                            2、根据客户要求，修改界面色调。
                            3、与开发沟通，去除无法完成的样式。</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>智慧旅游</h4>
                        <p>项目描述： 票务系统-微信购票，绑定微信公众号，可通过微信公众号进行购票，登录、注册、修改、访问个人中心、购票、退票等操作。</p>
                        <p>责任描述：1、根据产品经理出具的思维导图和流程图（UML图），制定初步原型图；
                            2、与同事讨论，逐步细化原型图，添加交互。
                            3、根据原型图制作效果图页面，负责软件界面的美术设计和制作工作。并且做好切图工作，将各类素材提供给开发。
                            4、积极与开发沟通，推进界面及交互设计的最终实现。</p>
                    </li>
                </ul>
                <h3><img src="" data-action="zoom"><span>成都恒成达商贸有限公司（2015.11 - 2016.4）</span></h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <p>工作描述：1、负责产品宣传册设计排版;
                            2、负责产品物料材料设计;
                            3、公司交办的其他设计任务;</p>
                    </li>
                </ul>
                <h3>work1.个人作品</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>宣传单</span>
                        </h4>
                        <img src="../images/dm/1、正面.jpg" data-action="zoom">
                        <img src="../images/dm/2、反面.jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>平面类</span>
                        </h4>
                        <img src="../images/vi/8标识特定色彩效果展示.jpg" data-action="zoom">
                        <img src="../images/vi/6标志坐标制图.jpg" data-action="zoom">
                        <img src="../images/vi/12背景色使用规定.jpg" data-action="zoom">
                        <img src="../images/vi/15名片.jpg" data-action="zoom">
                        <img src="../images/vi/18工作证.jpg" data-action="zoom">
                        <img src="../images/vi/23标识伞.jpg" data-action="zoom">
                        <img src="../images/vi/24纸杯.jpg" data-action="zoom">
                        <img src="../images/vi/32警示牌.jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>UI</span>
                        </h4>
                        <img src="../images/icon/临摹图标.jpg" data-action="zoom">
                        <img src="../images/icon/图标(1).jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>网页</span>
                        </h4>
                        <img src="../images/web/欢乐天地.jpg" data-action="zoom">
                        <img src="../images/web/美食.jpg" data-action="zoom">
                        <img src="../images/web/首页.jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>海报</span>
                        </h4>
                        <img src="../images/report/00.jpg" data-action="zoom">
                        <img src="../images/report/q2.jpg" data-action="zoom">
                        <img src="../images/report/q3.jpg" data-action="zoom">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            <span>移动端</span>
                        </h4>
                        <img src="../images/mobile/1.jpg" data-action="zoom">
                        <img src="../images/mobile/2.jpg" data-action="zoom">
                        <img src="../images/mobile/3.jpg" data-action="zoom">
                        <img src="../images/mobile/4.jpg" data-action="zoom">
                        <img src="../images/mobile/5.jpg" data-action="zoom">
                        <img src="../images/mobile/6.jpg" data-action="zoom">
                        <img src="../images/mobile/7.jpg" data-action="zoom">

                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<script src="../assets/js/zoom.min.js"></script>
</body>
</html>

